<div class="m-4"><h2>Unidades</h2></div>
<div class="container bg-light vh-100">
  <div class="row">
    <form #cadastroForm="ngForm" (ngSubmit)="submitCadastro(cadastroForm)">
      <div class="mb-3" style="width: 282px">
        <label class="formCadastro">Apelido</label>
        <input type="text" class="form-control" />
      </div>
      <div class="mb-3" style="width: 574px">
        <label class="formCadastro">Local</label>
        <input type="text" class="form-control" />
      </div>
      <div class="mb-3" style="width: 574px">
        <label class="formCadastro">Marca</label>
        <input type="text" class="form-control" />
      </div>
      <div class="mb-3" style="width: 574px">
        <label class="formCadastro">Modelo</label>
        <input type="text" class="form-control" />
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" />
        <label class="form-check-label" for="exampleCheck1">Ativo</label>
      </div>
      <button
        type="submit"
        class="btn btn-primary text-center"
        style="width: 250px"
        [disabled]="!cadastroForm.valid"
      >
        > Salvar
      </button>
    </form>
  </div>
</div>
