h2{
  color: #374557;
  font-family: 'Poppins', sans-serif;
  font-weight: bold
  }
  
  h4{
  color: #9FA2B4;
  font-family: 'Poppins', sans-serif;
  font-size: 19px;
  }

  h3{
    color: #252733;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
  }
