<div class="m-4"><h2>Dashboard</h2></div>
<div class="container bg-light vh-100">
  <div class="row d-flex justify-content-center bg-light">
    <div class="col-3">
      <div class="card border-light mb-3" style="max-width: 18rem">
        <div class="card-body bg-light">
          <h4 class="card-title text-center">Total de Unidades</h4>
          <h3 class="card-text text-center">12</h3>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card border-light mb-3" style="max-width: 16rem">
        <div class="card-body bg-light">
          <h4 class="card-title text-center">Unidades Ativas</h4>
          <h3 class="card-text text-center">12</h3>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card border-light mb-3" style="max-width: 16rem">
        <div class="card-body bg-light">
          <h4 class="card-title text-center">Unidades Inativas</h4>
          <h3 class="card-text text-center">12</h3>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card border-light mb-3" style="max-width: 16rem">
        <div class="card-body bg-light">
          <h4 class="card-title text-center">Média de Energia</h4>
          <h3 class="card-text text-center">12</h3>
        </div>
      </div>
    </div>
  </div>
</div>
