

.bemvindo{
  font-size:24px;
  margin-bottom: 50px;
  
  text-align: center;
}

.bt-entrar{
  margin-left: 15px;
  padding-right: 190px;
  padding-left: 190px;
  text-align: center;
}



.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  
}

